/* Fonts
==================== */

@font-face {
    font-family: ClearSans;
    src: url('../fonts/ClearSans-Regular.eot');
    src: url('../fonts/ClearSans-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/ClearSans-Regular.woff') format('woff'),
        url('../fonts/ClearSans-Regular.ttf') format('truetype'),
        url('../fonts/ClearSans-Regular.svg#open_sans') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: ClearSans;
    src: url('../fonts/ClearSans-Bold.eot');
    src: url('../fonts/ClearSans-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/ClearSans-Bold.woff') format('woff'),
        url('../fonts/ClearSans-Bold.ttf') format('truetype'),
        url('../fonts/ClearSans-Bold.svg#open_sansbold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: ClearSans;
    src: url('../fonts/ClearSans-BoldItalic.eot');
    src: url('../fonts/ClearSans-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/ClearSans-BoldItalic.woff') format('woff'),
        url('../fonts/ClearSans-BoldItalic.ttf') format('truetype'),
        url('../fonts/ClearSans-BoldItalic.svg#open_sansbold_italic') format('svg');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: ClearSans;
    src: url('../fonts/ClearSans-Italic.eot');
    src: url('../fonts/ClearSans-Italic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/ClearSans-Italic.woff') format('woff'),
        url('../fonts/ClearSans-Italic.ttf') format('truetype'),
        url('../fonts/ClearSans-Italic.svg#open_sansitalic') format('svg');
    font-weight: normal;
    font-style: italic;
}

/* Generic
==================== */

body {
    font-size: 14px;
    line-height: 1.3;
    font-family: ClearSans;
}

a:hover {
    text-decoration: none;
}

.alert-debug {
    color: black;
    background-color: white;
    border-color: #d6e9c6;
}

.alert-info {
    color: #3a87ad;
    background-color: #d9edf7;
    border-color: #bce8f1;
}

.alert-success {
    color: #468847;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}

.alert-warning {
    color: black;
    background-color: orange;
    border-color: #d6e9c6;
}

.alert-error {
    color: #b94a48;
    background-color: #f2dede;
    border-color: #eed3d7;
}

.error {
    margin-top: 40px auto 0 auto;
    width: 500px;
    text-align: center;
}

.help-block {
    margin-bottom: 0;
}

.form-group {
    margin-left: 0;
    margin-right: 0;
}

.bottom-details {
    margin-top: 10px;
}

.img-avatar {
    border: 2px solid white;
    border-radius: 50px;
    float: left;
    margin: 0 auto;
    margin-top: -7px;
    margin-right: 5px;
}

.form-avatar {
    margin-bottom: 10px;
}

.progress {
    margin-bottom: 0;
}

footer {
    margin-bottom: 10px;
}

.footer-options {
    padding: 10px;
}

#main-navbar {
    margin-top: 2%;
}

#map {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
}

#call2action {
    height: 80px;
    margin-top: 70vh;
    margin-bottom: 10vh;
}

.img-gs-front {
    width: 200px;
    border-radius: 5px;
}

.front-data {
    float: right;
    width: 200px;
    display: flow-root;
}

.front-line {
    margin-top: 10px;
    margin-bottom: 10px;
    clear: both;
}

@media screen and (min-width: 992px) {

    .front-border {
        border-right: 1px solid lightgray;
    }
}

#navbar-logo {
    width: 80px;
}

#call2action .btn-lg {
    margin-left: 30px;
    margin-top: -8px;
}

.coloredDiv {
    height: 20px;
    width: 20px;
    float: left;
    margin-right: 5px;
}

.edit-profile-buttons {
    margin-right: 30px;
}

.notice {
    margin: 40px;
    text-align: center;
    color: #888;
}

.tab-data {
    padding-top: 25px;
}

.data-well {
    word-break: break-all;
}

.stage-notice {
    background-color: #d74545;
    color: white;
    padding: 5px;
    text-align: center;
    font-size: 0.9em;
    z-index: 20;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
}

.stage-notice a {
    color: #ffff00;
}

.leaflet-left {
    display: none;
}

.mapbox-improve-map {
    display: none;
}

code.log {
    display: none;
    background-color: transparent;
}

code.log p {
    background-color: black;
    color: white;
    padding: 5px;
}

span.datetime-time {
    margin-left: 10px;
}

.red {
    color: red;
}

.lightgreen {
    color: lightgreen;
}

/* Stations
==================== */

#map-station {
    margin-top: 2%;
    width: 100%;
    height: 200px;
    border-radius: 5px;
}

.station-view-image {
    width: 200px;
    float: right;
    border-radius: 5px;
}

.station-edit-image {
    width: 200px;
    float: right;
}

.alert-error > .errorlist {
    list-style-type: none;
    padding: 0;
    margin-top: 10px;
}

/* Observations
==================== */

.calculation-result {
    display: none;
}

.axis path,
.axis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}

.axis text {
    font-family: sans-serif;
    font-size: 10px;
}

.timeline-label {
    font-family: sans-serif;
    font-size: 12px;
}

.label-warning {
    background-color: darkorange;
}

#timeline2 .axis {
    transform: translate(0, 30px);
    -ms-transform: translate(0, 30px); /* IE 9 */
    -webkit-transform: translate(0, 30px); /* Safari and Chrome */
    -o-transform: translate(0, 30px); /* Opera */
    -moz-transform: translate(0, 30px); /* Firefox */
}

.playback-time {
    margin-right: 20px;
    padding: 0.3em;
    font-size: 1em;
    vertical-align: bottom;
    display: inline-block;
}

#loading {
    display: none;
}

.tle {
    display: none;
    margin-top: 5px;
}

.timezone {
    margin: -5px 0 15px 2px;
}

#UTCModal .panel-default {
    margin-bottom: 20px;
}

#UTCModal .panel-default:last-child {
    margin-bottom: 0;
}

#UTCModal .panel-body {
    font-weight: bold;
    font-size: 1.3em;
}

.tle-data {
    margin-bottom: 15px;
}

.waterfall {
    margin-top: 5px;
}

.waterfall img {
    margin: auto;
    padding: 5px;
}

#collapseFilters {
    padding: 15px;
}

.filter-section {
    display: inline-block;
    margin-right: 20px;
}

#collapseFilters h4,
#collapseFilters h3 {
    display: inline-block;
}

#collapseFilters button,
#collapseFilters span {
    margin-right: 5px;
}

#collapseFilters button.active {
    border: 1px solid #333;
}

#collapseFilters button:not(.active) {
    color: #666;
}

@media screen and (max-width: 835px) {

    .vetting {
        float: none;
        margin-top: 5px;
    }
}

/* Satellites
==================== */

.satellite-info {
    margin-bottom: 20px;
}

#SatelliteModal li {
    margin-bottom: 5px;
}

.satellite-title {
    font-weight: bold;
    font-size: 1.2em;
    margin-bottom: 5px;
}

.satellite-names {
    margin-bottom: 5px;
}

.satellite-img-full {
    width: 100%;
    max-width: 300px;
    border-radius: 5px;
}

/* Overwrite display:none
   of bootstrap tab panel */

.tab-content > .tab-pane {
    visibility: hidden;
    display: inline;
    position: absolute;
}

.tab-content > .active {
    visibility: visible;
    position: initial;
}

.satellite-success {
    width: 100px;
    margin-top: 20px;
}
