<div class="modal fade" id="LegendModal" tabindex="-1" role="dialog" aria-labelledby="LegendModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="LegendModalTitle"><span class="glyphicon glyphicon-certificate" aria-hidden="true"></span> Legend</h4>
      </div>
        <div class="modal-body">
          <h4>The ID number of each observation is listed below, colored as such:</h4>
          <p>
            <span class="label label-info" title="This observation is in the future">43</span> This observation is in the future</span>
          </p>
          <p>
            <span class="label label-success" title="There is known good data in this observation">12</span> There is some known good data in this observation
          </p>
          <p>
            <span class="label label-warning" title="There is data that needs vetting in this observation">56</span> There is data that needs vetting in this observation
          </p>
          <p>
            <span class="label label-danger" title="No good data in this observation">93</span> No good data in this observation
          </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </form>
    </div>
  </div>
</div>
